<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Zen Notes</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="form p-10 text-white">
            <form action="/add" method="post">
                <input class="block w-full px-5 py-2 bg-zinc-700 rounded-md outline-none" type="text" placeholder="Title" name="title">
                <textarea class="block w-full mt-2 px-5 py-2 resize-none bg-zinc-700 rounded-md outline-none" placeholder="Write Notes" name="details"></textarea>
                <input class="mt-2 bg-violet-600 px-5 py-2 rounded-md" type="submit" value="Add Notes">
            </form>
        </div>
        <div class="notes px-10 flex gap-3 flex-wrap">

            <% if (files.length > 0) { %>
                <% files.forEach( (val) => { %>
                    <div class="note min-w-72 px-3 py-4 rounded-md bg-zinc-700">
                        <h1 class="text-white text-3xl tracking-tighter"><%= val.split('.')[0] %></h1>
                        <div class="flex w-full justify-between mt-3 items-center">
                            <a class="text-violet-500 inline-block" href="/files/<%= val %>">Read More.</a>
                            <a class="text-violet-500" href="/edit/<%= val  %>">Edit</a>
                        </div>
                        
                    </div>
                <% }) %>
            <% } else { %>
                <h3 class="text-zinc-700">No tasks yet</h3>
            <% } %>

        </div>
    </div>

</body>
</html>